@import "{{ site.theme }}";
.beforebreadcrumb {
  height:0 !important;
  margin:0 0 !important;
}
hr[class="beforebreadcrumb"] + p {
  font-size: 0.9rem !important;
}
.afterbreadcrumb {
  height:1px !important;
  margin:0 0 !important;
}
